body{
    background-color: rgba(0, 0, 0, 0), 0))
}
.header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: top;
    width:100%;
    height: 80%;
    margin-top: 10px;
}
 li
{
   list-style: none;
   margin-left: 50px;
   margin-top: 10px;  
}
.container{
    display: flex;
    margin-top: 50px;
    
    
    
}
.a{
    width: 500px;
    height: 500px;
    
}
.contaner{
    display: flex;
    width: 100%;
    height: 800px;
}
.ab{
    width: 500px;
    height: 200px;
}







*\
#menu{
    display: flex;
    justify-content: space-between;
    align-items: top;
    width:100%;
    height: 80%;
    margin-top: 10px;
}

#menu ul{
    margin-right: 75px;
}
#menu ul li{
    list-style: none;
    display:inline-flex;
}

#menu ul li a{
    display: inline-block;
    font-family: Montserrat;
    text-transform: uppercase;
    text-decoration: none;
    background-color: inherit;
    padding:10PX 20px;
   
    font-weight: bold;
    color: #000;
    transition:color 0,5s linear;
}